*{
    margin: 0%;
    padding: 0%;
}

header, section, footer, aside, nav, article, figure, figcaption,hgroup{
    display: block;
}

body{
    /*background-image: url("./Images/fuego.jpg");
    background-image: url("./Images/fondo_prueba.jpg");*/
    font-family: Arial;
}
body #bodImg{
    width: 100%;
    position: absolute;
}

.contenedor{
    height: 100%;
    width: 80%;
    max-width: 1000px;
    margin:0 auto;
    opacity: .8;
}
.menu{
    float: left;
    width: 100%;
    background: #CCCCCC;
    border-radius: 10px;
}
li{
    display: inline-block;
    list-style: none;
    padding: 1%;
    font: bold 100% verdana, sans-serif;
}
.cabecera{
    height: 20%;
    /*Color degrade*/
    background: rgba(153,153,153,1);
    background: -moz-linear-gradient(left, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 0%, rgba(143,143,143,1) 39%, rgba(87,87,87,1) 50%, rgba(87,87,87,1) 86%, rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(153,153,153,1)), color-stop(0%, rgba(204,204,204,1)), color-stop(39%, rgba(143,143,143,1)), color-stop(50%, rgba(87,87,87,1)), color-stop(86%, rgba(87,87,87,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(left, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 0%, rgba(143,143,143,1) 39%, rgba(87,87,87,1) 50%, rgba(87,87,87,1) 86%, rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(left, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 0%, rgba(143,143,143,1) 39%, rgba(87,87,87,1) 50%, rgba(87,87,87,1) 86%, rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(left, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 0%, rgba(143,143,143,1) 39%, rgba(87,87,87,1) 50%, rgba(87,87,87,1) 86%, rgba(36,36,36,1) 100%);
    background: linear-gradient(to right, rgba(153,153,153,1) 0%, rgba(204,204,204,1) 0%, rgba(143,143,143,1) 39%, rgba(87,87,87,1) 50%, rgba(87,87,87,1) 86%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#242424', GradientType=1 );
    border: 1px solid #999999;
    padding: 2%;
    border-radius: 10px;
    box-sizing: border-box;
}
#Title {
    color: #fffff2;;
    padding: 8% 0% 6% 0%;
    font-size: 200%;
    text-align: right; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-size: 20px;
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
    font: bold 14px verdana, sans-serif;
}
#Logo{
    float: left;
    margin: 0;
}
.seccion{
    float: left;
    width: 70%;
    height: 60%;
    margin:1% auto;
    box-sizing: border-box;
}
.columna{
    float: left;
    width: 25%;
    margin: 1% 2%; 
}
.pie{
    color:white;
    height: 10%;
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

#nombres li a{
    text-decoration: none;
    width: 220px;
    margin: 0%;
    color:#fff;
    background: rgb(75, 102, 121);
    border-radius: 10px;
    border-color: #fffff2;
    display: inline-block;
    padding: 5px;
    font: bold 20px verdana, sans-serif;
}
#nombres li a:hover {
    background:rgb(143, 174, 196);
    color:white
}
#menu_principal ul li:hover {
    background:rgb(143, 174, 196);
    color:white
}
#menu_principal ul li {
    border-radius: 10px;
    color: aliceblue;
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 20px verdana, sans-serif;
}

footer {
    text-align: right;
}
.articulo {
    background:#999999;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
}


